import csv
DATA_EVENT = 1
PROCESS_EVENT = 2
THRESHOLD = -5
class Event:
    def __init__(self, event_type, handler, data):
        self.type = event_type
        self.handler = handler
        self.data = data
class SensorNode:
    def __init__(self, node_id):
        self.nodeId = node_id
def process_data(data):
    sender, receiver, TEMP = data 
    if TEMP > THRESHOLD:
        print(f"Processing data: {TEMP}")
        send_data(sender,receiver)
    else:
        print("Data does not meet the threshold. Skipping processing.")
def send_data(sender, receiver):
    print(f"Sending data from Node {sender.nodeId} to Node {receiver.nodeId}")

def handle_event(event):
    if event.type == DATA_EVENT:
        print("Handling DATA_EVENT")
        event.handler(event.data)
    elif event.type == PROCESS_EVENT:
        print("Handling PROCESS_EVENT")
        event.handler(event.data)
    else:
        print("Unknown event type")
def main():
    with open("read.csv", "r") as file:
        csv_reader = csv.reader(file)
        header = next(csv_reader)  # Skip the header line
        
        sender = SensorNode(1)
        receiver = SensorNode(2)


        for row in csv_reader:
            TEMP = int(row[13])  # Assuming temperature is in the 14th column (index 13)
            print(f"Temperature from CSV: {TEMP}")
            data_event = Event(DATA_EVENT, process_data, (sender, receiver, TEMP))
            handle_event(data_event)
if __name__ == "__main__":
    main()
